body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/eraser-background.png");
}

h1 {
    font-family: 'Roboto Black', sans-serif;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

li {
    list-style-type: none;
}

.menu {
    margin-left: 10%;
    font-weight: bold;
}

a {
    font-family: 'Roboto Bold', sans-serif;
}

.menu-concerts {
    position: fixed;
    margin-left: 5%;
    font-weight: bold;
}

.menu-gallery {
    position: fixed;
    margin-left: 5%;
    font-weight: bold;
}


.images {
    z-index: 1;
    margin-top: 100px;
    margin-left: 30%;
    float: left;
    display: flex;
    margin-bottom: 100px;
}

.image {
    z-index: inherit;
    height: 80vh;
}

.image-container {
    background-color: white;
    z-index: 1;
    padding-right: 30px;
}

.content {
}


.active {
    color: red;
}

.eraser {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contacts {
    margin-top: 5%;
    margin-left: 10%;
}

@media screen and (max-width: 600px) {
    .contacts {
        margin-top: 80vh;
    }

    .contacts small {
        font-size: large;
    }

    .images {
        z-index: 1;
        margin-top: 100px;
        margin-left: 0;
        float: left;
        display: block;
    }

    .image {

        width: 100vw;
        height: auto;
        padding-right: 5%;
        padding-left: 5%;
    }

    .menu-concerts, .menu-gallery {
        margin-left: 0;
        padding-left: 5%;
        width: 100%;
        background-color: white;
    }

}